{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://twitter.com/aniruddha_2000">Twitter</a></li>
        <li><a href="https://github.com/aniruddha2000">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}
